.descr-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 50%;
}

.main-image {
  max-width: 22%;
  border-radius: 1rem;
  height: auto;
  margin-right: 3rem;
}

.descr {
  font-size: 1.3rem;
  margin-bottom: 20px;
  line-height: 1.6;
  margin-bottom: 3rem;
}

.contacts {
  display: flex;
  gap: 2rem;
  margin-top: 3rem;

  a {
    img {
      transition: filter 0.3s ease-in-out;
      &:hover {
        filter: sepia(1) saturate(1000%) hue-rotate(10deg) brightness(1.2);
      }
    }
  }
}

.main-block {
  margin-bottom: 5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  justify-self: center;
  height: 66vh;
}

.gmail {
  display: flex;
  align-items: center;
  align-self: flex-start;
  justify-self: flex-end;
  font-size: 1.1rem;
  font-weight: 500;
  max-width: 13.5rem;
  gap: 0.3rem;
  &:hover {
    filter: sepia(1) saturate(1000%) hue-rotate(10deg) brightness(1.2);
  }
  img {
    padding: 0.1rem;
    max-height: 1.5rem;
  }
}
