.about-block {
  margin-top: 5rem;
  margin-bottom: 5rem;
}
.tech-stack {
  display: flex;
  margin-bottom: 4rem;
}
.txt {
  text-indent: 20px;
  margin-bottom: 2rem;
  font-weight: 300;
}
.devider {
  width: 80%;
  border: 1px solid white;
  margin-top: 1rem;
  margin-bottom: 2rem;
}
