.footer {
  background: var(--footer-background);
  padding: 0.5rem;
  opacity: 0.8;
  border-top: 1px solid rgba(128, 128, 128, 0.247);
  &__links {
    gap: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.6rem;
    margin-bottom: 0.5rem;
    color: var(--footer-links-color);
  }
  &__rights {
    color: var(--footer-links-color);
  }
  &__rights {
    width: max-content;
    margin: 0 auto;
    font-size: 0.5rem;
    opacity: 0.8;
  }
  &__contacts {
    img {
      width: 2rem;
    }
    display: flex;
    justify-content: center;
    gap: 3rem;
  }
}
