.footer {
  padding: 1.5rem;
  background-color: grey;
  opacity: 0.8;
  border-bottom: 1px solid rgba(128, 128, 128, 0.6);
  box-shadow: 0 1px 5px rgb(250, 250, 250);
  &__links {
    gap: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.9rem;
    margin-bottom: 1rem;
    color: white;
  }
  &__rights {
    color: white;
  }
  &__rights {
    width: max-content;
    margin: 0 auto;
    font-size: 0.7rem;
    opacity: 0.8;
  }
  &__contacts {
    img {
      width: 2rem;
    }
    display: flex;
    justify-content: center;
    gap: 3rem;
  }
}
