@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&family=Oswald:wght@200..700&display=swap");
@import "tailwindcss";

h1 {
  line-height: 1.1;
}

.container {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 8rem 15rem 2rem 15rem;
  align-items: center;
  justify-content: space-between;
  justify-content: center;
}

a {
  text-decoration: none;
  color: inherit;
}

.link {
  position: relative;
  border-bottom: 2px solid transparent;
  display: inline-block;
  &:hover {
    color: #fdff73;
  }
  &::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: -0.1rem;
    width: 0;
    height: 2px;
    background-color: #fdff73;
    transition: width 0.4s ease;
  }
  &:hover::before {
    width: 105%;
  }
}

.contact-button {
  font-weight: 500;
  background: black;
  color: white;
  border: 3px solid white;
  border-radius: 1rem;
  margin-left: 0;
  max-width: 9rem;
  min-width: 8rem;
  padding: 0.5rem;
  transition: all 0.3s;
  &:hover {
    cursor: pointer;
    color: yellow;
    border: 3px solid yellow;
  }
}
