@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&family=Oswald:wght@200..700&display=swap");
@import "tailwindcss";

:root {
  /* Dark theme is default */
  --background-color: black;
  --text-color: white;
  --border-color: rgba(128, 128, 128, 0.6);
  --link-hover-color: #fdff73;
  --header-name-color: #a0a0a0;
  --form-background: #1a1a1a;
  --form-text: white;
  --button-border: white;
  --button-text: white;
  --button-hover-border: yellow;
  --button-hover-text: yellow;
  --modal-background: #f5f5f5;
  --modal-text: black;
  --form-error: #ff5757;
}

/* Light theme */
[data-theme="light"] {
  --background-color: #e9e9e9;
  --text-color: #333;
  --border-shadow: rgba(0, 0, 0, 0.274);
  --border-color: rgba(0, 0, 0, 0.308);
  --link-hover-color: #98a000;
  --header-name-color: #555;
  --form-background: white;
  --form-text: #333;
  --button-border: #333;
  --button-text: #333;
  --button-hover-border: #5c5f17;
  --button-hover-text: #5c5f17;
  --modal-background: white;
  --modal-text: #333;
  --form-error: #d32f2f;
}

h1 {
  line-height: 1.1;
}

.container {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 8rem 15rem 2rem 15rem;
  align-items: center;
  justify-content: space-between;
  justify-content: center;
}

a {
  text-decoration: none;
  color: inherit;
}

.link {
  position: relative;
  border-bottom: 2px solid transparent;
  display: inline-block;
  &:hover {
    color: var(--link-hover-color);
  }
  &::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: -0.1rem;
    width: 0;
    height: 2px;
    background-color: var(--link-hover-color);
    transition: width 0.4s ease;
  }
  &:hover::before {
    width: 105%;
  }
}

.contact-button {
  font-weight: 500;
  background: var(--background-color);
  color: var(--button-text);
  border: 3px solid var(--button-border);
  border-radius: 1rem;
  margin-left: 0;
  max-width: 9rem;
  min-width: 8rem;
  padding: 0.5rem;
  transition: all 0.3s;
  &:hover {
    cursor: pointer;
    color: var(--button-hover-text);
    border: 3px solid var(--button-hover-border);
  }
}
